@model List<CricInfo.ViewModel.ArticleIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>
@foreach ( var article in Model){
<div>
    <h3>@Html.ActionLink(article.Title, "Details", new {id = article.ArticleId})</h3>
    <p>@article.Body.Substring(0, 300)</p>
    <span><strong>@article.PublishDate</strong></span>
    <div>@article.AverageRating</div>
    <br />
    @Html.Partial("SocialMediaStats", article)

    <hr />
</div>
}
